<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>GO!.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1313},{398,180}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{398,180}}</string>
                <key>sourceSize</key>
                <string>{398,180}</string>
            </dict>
            <key>Paper.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,772},{600,687}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{600,687}}</string>
                <key>sourceSize</key>
                <string>{600,687}</string>
            </dict>
            <key>READY!.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,849},{361,72}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{361,72}}</string>
                <key>sourceSize</key>
                <string>{361,72}</string>
            </dict>
            <key>Stopwatch.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,1313},{64,73}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{64,73}}</string>
                <key>sourceSize</key>
                <string>{64,73}</string>
            </dict>
            <key>Win!.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,436},{160,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{160,75}}</string>
                <key>sourceSize</key>
                <string>{160,75}</string>
            </dict>
            <key>bg-opacity half.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1024,768}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1024,768}}</string>
                <key>sourceSize</key>
                <string>{1024,768}</string>
            </dict>
            <key>board.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,697},{686,724}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{686,724}}</string>
                <key>sourceSize</key>
                <string>{688,726}</string>
            </dict>
            <key>box with treasure.png</key>
            <dict>
                <key>frame</key>
                <string>{{1685,1385},{448,361}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{448,361}}</string>
                <key>sourceSize</key>
                <string>{448,361}</string>
            </dict>
            <key>box.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,883},{252,258}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{252,258}}</string>
                <key>sourceSize</key>
                <string>{252,258}</string>
            </dict>
            <key>first page.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1385},{631,721}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{631,721}}</string>
                <key>sourceSize</key>
                <string>{631,721}</string>
            </dict>
            <key>green button.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,772},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>loading-ipad.png</key>
            <dict>
                <key>frame</key>
                <string>{{1007,1385},{676,552}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{676,552}}</string>
                <key>sourceSize</key>
                <string>{676,552}</string>
            </dict>
            <key>lost lines.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,2},{1017,187}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1017,187}}</string>
                <key>sourceSize</key>
                <string>{1017,187}</string>
            </dict>
            <key>lost.png</key>
            <dict>
                <key>frame</key>
                <string>{{691,772},{539,160}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,0},{539,160}}</string>
                <key>sourceSize</key>
                <string>{541,160}</string>
            </dict>
            <key>plank&amp;drug.png</key>
            <dict>
                <key>frame</key>
                <string>{{1754,752},{280,129}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{280,129}}</string>
                <key>sourceSize</key>
                <string>{280,129}</string>
            </dict>
            <key>progress bar.png</key>
            <dict>
                <key>frame</key>
                <string>{{948,1212},{494,57}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{494,57}}</string>
                <key>sourceSize</key>
                <string>{494,57}</string>
            </dict>
            <key>red button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,675},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
            <key>right signature.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,191},{92,86}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{92,86}}</string>
                <key>sourceSize</key>
                <string>{92,86}</string>
            </dict>
            <key>rightBoard.png</key>
            <dict>
                <key>frame</key>
                <string>{{1028,191},{504,904}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{504,904}}</string>
                <key>sourceSize</key>
                <string>{504,904}</string>
            </dict>
            <key>rightSign.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,360},{80,74}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{80,74}}</string>
                <key>sourceSize</key>
                <string>{80,74}</string>
            </dict>
            <key>star .png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,279},{81,79}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{81,79}}</string>
                <key>sourceSize</key>
                <string>{81,79}</string>
            </dict>
            <key>yellow button.png</key>
            <dict>
                <key>frame</key>
                <string>{{1934,598},{75,75}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{75,75}}</string>
                <key>sourceSize</key>
                <string>{75,75}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>game.png</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b29b573648bd5dbe6051e57eb61b3b36:1/1$</string>
            <key>textureFileName</key>
            <string>game.png</string>
        </dict>
    </dict>
</plist>
